.user-line {
  display: flex;
  align-items: center;
  .image {
    width: 50px;
    padding-right: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .name {
    width:250px;
    font-size: 2em;
  }
}
